     .checkbox {
         &-content {
             display: flex;
             align-items: center;
             width: 100%;

             &_label {
                 font-weight: 300;
                 padding: 0 10px;
                 margin-left: 10px;
                 width: calc(100% - 25px);

                 &_counter {
                     font-size: 13px;
                     font-weight: 100;
                 }
             }

             &_input {
                 width: 24px;
                 min-width: 24px;
                 height: 24px;
                 appearance: none;
                 border: 1px solid rgb(150, 150, 150);
                 border-radius: 0.25rem;
                 position: relative;

                 &:checked {
                     &::before {
                         content: " ";
                         position: absolute;
                         transition: transform 200ms ease-in-out 0s;
                         width: 24px;
                         height: 24px;
                         border-radius: 0.25rem;
                         background-color: rgb(57, 70, 160);
                     }

                     &::after {
                         content: "L";
                         line-height: 1.15;
                         color: rgb(255, 255, 255);
                         transform: scaleX(-1) rotate(-35deg);
                         position: absolute;
                         padding: 2px 7px;
                     }
                 }
             }
         }
     }